.weather-app {
  background-color: skyblue;
  max-width: 1000px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}
.forecast-day {
  border: 1px solid #2c2d2e;
  border-radius: 5px;
  padding: 10px;
}
.weather-forecast {
  color: black;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
  margin-top: 25px;
}
.weather-forecast-temperature-min {
  opacity: 0.6;
}
.city {
  font-size: 48px;
  color: #3a3151;
  margin-left: 130px;
  margin-bottom: 0px;
}
#temperature {
  font-size: 36px;
  color: #3a3151;
  margin-top: -100px;
}
.row {
  color: #3a3151;
}
#current-id {
  margin-left: -175px;
}
.updated-time {
  font-size: 12px;
  margin-left: 130px;
}
.temperature-description,
.humidity,
.wind {
  font-size: 18px;
  position: relative;
  top: 40px;
  margin-left: 150px;
}
.city-name {
  margin-left: 200px;
}

.city-info,
.temp-info {
  margin-top: 0px;
}

#sourcelink {
  margin-left: 130px;
}

#icon {
  margin-left: 130px;
}